body {
    background-color: black;
    color:white;
    text-align: center;
    font-family: sans-serif;
    padding: 2%;
}

footer {
  text-align: center;
  padding: 64px;
  color: white;
}

img {

    width: 604px;
    image-rendering: pixelated;

}

.manny {
    width: 320px;
    image-rendering: pixelated;

}

h1{
    font-size: 220%;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip:inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
    font-size: 205%;
  background: -webkit-linear-gradient(#eee, #1c1e2e);
  background-clip:inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
    font-size: 190%;
  background: -webkit-linear-gradient(#eeeeee, #63182b);
  background-clip:inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4{
    font-size: 150%;
  background: -webkit-linear-gradient(#eeeeee, #63182b);
  background-clip:inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link, a:visited {
    color: rgb(201, 17, 72);
    font-size: larger;
}

a:hover, a:active {
    color :rgb(209, 50, 98);
    font-size: x-large;
}